<main>
    <h1>Entre em contato</h1>
    <section>
        <form id="contact-form">
            <div>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
            </div>
            <div>
                <button type="submit" mat-raised-button color="primary">Enviar</button>
            </div>
        </form>
    </section>
</main>